.html {
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 2;
    height: 100px;
}
.header__nav-item+.header__nav-item {
    margin-left: 25px;
}

.header__nav-link-icon {
    margin-left: px;
}

.header__nav-link,
.header__nav-item {
    display: inline-block;
}

.header__nav-link-dangky::after {
    content: "";
    position: absolute;
    height: 14px;
    border-left: 1px solid white;
    right: -12px;
    top: 8px;
}

.header__nav {
    background-color: Black;
    font-weight: 600;
    height: 40px;

}

.header__user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.home-input{
    display:flex;
    justify-content:flex-end;
    margin-right:60px;
}

.nav-white-list-link {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 20px 0;
    color: black;
    box-sizing: border-box;
    font-weight: 500;
    margin: 0 20px;
    display: block;
}

.header__nav-white {
    background-color: #dcdcdc;
    margin-bottom: 70px;

}

.nav-white-list-link:hover {

    border-bottom: 3px solid #c30005;

}

.new__product-item-link-image {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.new__product-title span {
    padding: 15px;
    background-color: black;
    color: #FFF;
    width: 200px;
    font-weight: 500;
    display: block;
    margin: auto;
    text-align: center;

}

.new__product-item {
    padding:12px;
    text-align: center;
}

.new__product-title{
    background-color: #FFF;
    border-bottom: 2px solid black;
    margin: 80px 0;
}

.new__product-item-link {
    display: block;
    text-decoration: none;
    padding: 20px;
    background-color: #FFF;
}

.home-product-item__name {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 15px;
    color: #334862;
    font-weight: 500;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.home-product-item__price {
    font-weight: 600;
    color: #c30005;
}

.new__product-item {
    position: relative;
    transition: transform linear 0.1s;

}

.new__product-item-link:hover {
    border: 1px solid black;
    cursor: pointer;
    transform: translateY(-10px);
}
.new__product-item-link-icon{
    display:flex;
    justify-content:center;
    align-items:center;
}
.new__product-item-link-icon a{
   text-decoration:none;
   font-size:40px;
}
.new__product-item-link-image {
    display: flex;
    justify-content: center;
    background-size: contain;
    padding-top: 100%;
}

.new__product-item-link-image::after {
    font-weight: 600;
    color: #FFF;
    content: " Xem sản phẩm";
    position: absolute;
    padding: 10px;
    background-color: black;
    bottom: 50%;
    display: block;
    font-size:90%;
    display: none;
    justify-content: center;
    align-items: center;
    display: none;
}

.new__product-item:hover .new__product-item-link-image::after {
    animation: fadeIn ease-in 0.3s;
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* danh sach san pham */
.catelogy-item__link {
    width: 50%;
    position: relative;
    text-decoration: none;
    font-weight: 500;
    color: black;
    padding: 10px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}
.catelogy__app{
    padding-bottom: 100px;
    margin-bottom: 50px;
    min-height:1086px;
}
.catelogy-item__link:hover {
    right: -4px;
    border-bottom: 3px solid black;
}

.catelogy-list {
    margin-left: 20px;
}

.catelogy__background {
    background-color: #f5f5f5;
}

.nav__catelogy {
    background-color: #FFF;
    margin-left: 20px;

}

.catelogy__heading {
    padding: 20px;
    border-bottom: 3px solid black;
}

.select-input {
    margin-left: 20px;
    min-width: 150px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 10px;

}

.select-input__link {
    text-decoration: none;
    display: block;
    color: black;
    font-weight: 500;
}
.home-filter{
    margin-bottom: 30px;
}
.home-filter__link {
    display: block;
    margin: 0 10px;
    text-decoration: none;
    padding: 6px 20px;
    border: 1px solid black;
    border-radius: 8px;
    color: black;
    font-weight: 500;
}

.select-input__option {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    display: none;
    z-index: 1;

}

.select-input__label {
    padding: 8px;
    min-width: 150px;
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    border-radius: 3px;
}

.select-input:hover .select-input__option {
    display: block;
}

.select-input__link:hover {
    color: #FFF;
    background-color: black;

}
/* Footer */
.footer{
    background-color: black;
    opacity: 0.9;
    position: relative;
    }

    .footer__title{
        color: #FFF;
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 10px;
        position: relative;
        display: block;
        border-radius: white 2px solid;
        margin-bottom: 20px;
    }
    .footer__title::after{
        position: absolute;
        content: " ";
        bottom: 0;
        background-color: #c30005;
        left: 0;
        width: 50px;
        height: 3px;
    }
    .footer__socal-link{
        display: inline-block;
        padding: 10px 15px;
        margin-right: 20px;
        border-radius: 50%;
    }
    .footer::after{
        content: " © Bản quyền thuộc về . Thiết kế website MonaMedia Mona Media";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 40px;
        background-color: #212529  ;
        opacity: 1;
        color: #FFF;

        display: flex;
        justify-content: center;
        align-items: center;

    }
    .footer__row{
        padding-top: 30px ;
        padding-bottom: 120px ;
        display: flex;

    }
.next-link-newproduct, .previous-link-newproduct{
    color:Black;
    cursor:pointer;
}
.list-product-page{
    display:flex;
    justify-content:center;
}
.page{
    font-size:25px;
    margin:20px;
    cursor:pointer;
}