.html {
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    z-index: 3;
    height: 100px;
}
.header__nav-item+.header__nav-item {
    margin-left: 25px;
}

.header__nav-link-icon {
    margin-left: px;
}

.header__nav-link,
.header__nav-item {
    display: inline-block;
}

.header__nav-link-dangky::after {
    content: "";
    position: absolute;
    height: 14px;
    border-left: 1px solid white;
    right: -12px;
    top: 8px;
}

.header__nav {
    background-color: Black;
    font-weight: 600;
    height: 40px;

}

.header__user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.home-input{
    display:flex;
    justify-content:flex-end;
    margin-right:60px;
}

.nav-white-list-link {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 20px 0;
    color: black;
    box-sizing: border-box;
    font-weight: 500;
    margin: 0 20px;
    display: block;
}

.header__nav-white {
    background-color: #dcdcdc;
    margin-bottom: 70px;

}

.nav-white-list-link:hover {

    border-bottom: 3px solid #c30005;

}
/* Footer */
.footer{
    background-color: black;
    opacity: 0.9;
    position: relative;

    }

    .footer__title{
        color: #FFF;
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 10px;
        position: relative;
        display: block;
        border-radius: white 2px solid;
        margin-bottom: 20px;
    }
    .footer__title::after{
        position: absolute;
        content: " ";
        bottom: 0;
        background-color: #c30005;
        left: 0;
        width: 50px;
        height: 3px;
    }
    .footer__socal-link{
        display: inline-block;
        padding: 10px 15px;
        margin-right: 20px;
        border-radius: 50%;
    }
    .footer::after{
        content: " © Bản quyền thuộc về . Thiết kế website MonaMedia Mona Media";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 40px;
        background-color: #212529  ;
        opacity: 1;
        color: #FFF;

        display: flex;
        justify-content: center;
        align-items: center;

    }
    .footer__row{
        padding-top: 30px ;
        padding-bottom: 120px ;
        display: flex;
    }
.app__content{
    margin-top:100px;
    margin-bottom:100px;
}
.product__image{
    padding:30px ;
}

.product__image div{
    padding-top:100%;
    background-size:contain;
    background-repeat:no-repeat;
}
.product__details-title{
    font-size:25px;
    font-weight:700;
    position:relative;
}
.product__details-price{
    font-size:25px;
    font-weight:700;
    margin-top:20px;
    color:#c30005;
}
.product__details{
    margin-top:50px;
}
.product__details-title::after{
    content:"";
    position:absolute;
    top:110%;
    height:2px;
    width:30px;
    left:0;
    background-color:grey;
}
.new__product-item {
    padding:12px;
    text-align: center;
}

.new__product-title{
    background-color: #FFF;
    border-bottom: 2px solid black;
    margin: 80px 0;
}
.new__product-title span {
    padding: 15px;
    background-color: black;
    color: #FFF;
    width: 200px;
    font-weight: 500;
    display: block;
    margin: auto;
    text-align: center;

}
.new__product-item-link {
    display: block;
    text-decoration: none;
    padding: 20px;
    background-color: #FFF;
}

.home-product-item__name {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 15px;
    color: #334862;
    font-weight: 500;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.home-product-item__price {
    font-weight: 600;
    color: #c30005;
}

.new__product-item {
    position: relative;
    transition: transform linear 0.1s;

}

.new__product-item-link:hover {
    border: 1px solid black;
    cursor: pointer;
    transform: translateY(-10px);
}
.new__product-item-link-icon{
    display:flex;
    justify-content:center;
    align-items:center;
}
.new__product-item-link-icon a{
   text-decoration:none;
   font-size:40px;
}
.new__product-item-link-image {
    display: flex;
    justify-content: center;
    background-size: contain;
    background-position:center;
    background-repeat:no-repeat;
    padding-top: 100%;
}

.new__product-item-link-image::after {
    font-weight: 600;
    color: #FFF;
    content: " Xem sản phẩm";
    position: absolute;
    padding: 10px;
    background-color: black;
    bottom: 50%;
    display: block;
    font-size:90%;
    display: none;
    justify-content: center;
    align-items: center;
    display: none;
}

.new__product-item:hover .new__product-item-link-image::after {
    animation: fadeIn ease-in 0.3s;
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.stock-btn{
    border:none;
    padding:10px;
}
.stock-btn:hover{
    background-color:grey;
}

.stock-input{
      border:none;
      margin:0;
      width:50px;
      height:100%;
      text-align:center;
}
.stock{
 border:2px solid grey;
  border-radius:5px;
}
.stock-input:focus {
       outline:none;
}
.stock-buy{
        display:flex;
        align-items: stretch;
        margin-top:50px;
}
.buy{
        padding: 0 30px;
        margin-left:50px;
        height:100%;
        background-color:#d26e4b;
        color:white;
        font-size:15px;
        font-weight:600;
        border:none;
        border-radius:5px;
}
.payment-title{
    font-size:18px;
    font-weight:500;
    margin:10px 0;
    display:block;
}
.cart__product-price{
    margin-left:5px;
}

